[submodule "01-Linux"]
	path = 01-Linux
	url = https://gist.github.com/ClaudiaJKang/01fa211b9a3b1dd0e574e9ef0cfb40cb.git
[submodule "02-OpenSatck"]
	path = 02-OpenSatck
	url = https://gist.github.com/ClaudiaJKang/39acc2e96d839eebd87701a60fe3edea
[submodule "03-AWS"]
	path = 03-AWS
	url = https://gist.github.com/ClaudiaJKang/fd2279f923cb991c9b8653cb6b658e1b.git
[submodule "04-Docker"]
	path = 04-Docker
	url = https://gist.github.com/ClaudiaJKang/c14c5809cbf80518c0085adb70f9c7b4.git
[submodule "05-Kubernetes"]
	path = 05-Kubernetes
	url = https://gist.github.com/ClaudiaJKang/d3fc16b43c496bc9e4e3c55c14b0cf23.git
